body{
    text-align: center;
    background-image: url("");
    background-color:blue;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(24,24,61,1) 35%, rgba(0,212,255,1) 100%);
}

img{
    width:500px;
}

.img1{
    width:200px;
}
